{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPLbsDemo_plugin",
  "copy": true,
  "targets": {
    "MPLbsDemo_plugin": {
      "author": "shifei.wkp",
      "time": "2020/03/26 14:31:21",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "MPBaseTest": {
          "MPBaseTest": "1.0.0.190912140837",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200323194150",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.191111163231"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        },
        "mPaaS_LBS": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200323194150",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "MPLBSAdapter": "1.0.0.190906194511",
          "APMobileLBS": "1.0.1.200324223032",
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "Nebula": "1.0.0.200225160728",
          "APMobileFramework": "1.0.0.200307113445",
          "NebulaSDK": "1.0.0.191121152832",
          "NebulaPoseidon": "1.3.0.191121152832",
          "NebulaAppManager": "1.3.0.200211160554",
          "APWebImage": "1.0.0.190906190219",
          "NebulaKernel": "1.0.0.190906170603",
          "NebulaBiz": "1.0.0.200317112610",
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "APWebP": "1.0.0.190227112355",
          "APBusinessSchemeHandlers": "1.0.0.190906160442",
          "APMultimedia": "1.0.0.190916155142",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "APMCDNImage": "1.0.0.190909101809",
          "NebulaAppBiz": "1.0.0.191021153946",
          "NebulaLogging": "1.0.0.200227131302",
          "NebulaTinyapp": "1.0.0.191205171437",
          "NebulaConfig": "1.0.0.200319181304",
          "TinyAppCommon": "1.0.0.190906170603",
          "SocketCraft": "1.0.0.190906170603",
          "NebulaNetwork": "1.0.0.200219184233",
          "NebulaSecurity": "1.0.0.190906170603",
          "AMapSearchKit": "1.0.0.190918200148",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525"
        },
        "mPaaS_Multimedia": {
          "APMultimedia": "1.0.0.190916155142",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "APMobileFramework": "1.0.0.200307113445",
          "APRemoteLogging": "1.0.0.200323194150",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APConfig": "1.0.0.200116100859",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "APWebP": "1.0.0.190227112355",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "APMUtils": "1.0.0.190909101809",
          "APMBeauty": "1.0.0.190228140719",
          "APMTaskManager": "1.0.0.190227112538",
          "APMCache": "1.0.0.191022165232",
          "APMImageProcessing": "1.0.0.190909101809",
          "Texel": "1.0.0.190909101809",
          "APMAudioProcessing": "1.0.0.190228140847",
          "NebulaPoseidon": "1.3.0.191121152832",
          "APMCDNImage": "1.0.0.190909101809",
          "MPMgsAdapter": "1.0.0.191111163231",
          "MPMasAdapter": "1.0.0.200116173050",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200307113445",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200323194150",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603"
        }
      },
      "baseline": "10.1.60",
      "pversion": "32",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPBaseTest.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "APCrashReporter.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "MPLBSAdapter.framework",
        "APMobileLBS.framework",
        "AMapFoundationKit.framework",
        "MAMapKit.framework",
        "Nebula.framework",
        "APMobileFramework.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "APWebImage.framework",
        "NebulaKernel.framework",
        "NebulaBiz.framework",
        "APWebP.framework",
        "APBusinessSchemeHandlers.framework",
        "APMultimedia.framework",
        "APConfig.framework",
        "APLongLinkService.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "APMUtils.framework",
        "APMBeauty.framework",
        "APMTaskManager.framework",
        "APMCache.framework",
        "APMImageProcessing.framework",
        "Texel.framework",
        "APMAudioProcessing.framework",
        "APMCDNImage.framework",
        "NebulaAppBiz.framework",
        "NebulaLogging.framework",
        "NebulaTinyapp.framework",
        "NebulaConfig.framework",
        "TinyAppCommon.framework",
        "SocketCraft.framework",
        "NebulaNetwork.framework",
        "NebulaSecurity.framework",
        "AMapSearchKit.framework"
      ],
      "resources": [
        "APCommonUI.bundle",
        "MPBadgeService.bundle",
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle",
        "AMap.bundle",
        "APMobileFramework.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "APBusinessSchemeHandlers.bundle",
        "APMultimedia.bundle",
        "APMUtils.bundle",
        "APMImageProcessing.bundle",
        "Texel.bundle",
        "APMCDNImage.bundle",
        "NebulaLogging.bundle",
        "NebulaTinyapp.bundle",
        "NebulaConfig.bundle",
        "TinyAppCommon.bundle"
      ]
    }
  },
  "recent": "MPLbsDemo_plugin"
}